.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    color: #cbcaca;
}
.logoContainer{
    text-align: center;
    width: 200px;
}
.devName{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.head-name{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: right;
}
@media only screen and (min-width: 240px) and (max-width: 1281px) {
    .head-name{
        text-transform: capitalize;
        margin: 0;
        padding: 0;
        font-size: 20px;
        text-align: center;
    }
  
  }